<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tippy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7075EB81F21F93C00CD6862</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7075ECC1F21F93C00CD6862</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7075ED71F21F93D00CD6862</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
